<div class="modal-header text-center modal-lg d-flex justify-content-center bg-danger">
    <h1 class="text-white">ATENÇÃO!</h1>
</div>
<div class="modal-body text-center mt-2 mb-2">
    <h3>Você tem certeza que deseja excluir a Conta: {{ conta.desc_conta }}?</h3>
    <h3>Essa ação é permanente e não poderá ser desfeita</h3>
</div>
<div class="modal-footer justify-content-center align-items-center">
    <button class="sg-button" id="btn-excluir" (click)="excluir(conta.cod_conta_analitica)">Excluir Conta Analítica</button>
    <button class="sg-button" id="btn-fechar" (click)="activeModal.close()">Fechar</button>
</div>