<div class="modal-header modal-lg d-flex justify-content-center">
    <h5 *ngIf="!editMode" id="modalLabel">CADASTRAR EMPRESA</h5>
    <h5 *ngIf="editMode" id="modalLabel">EDITAR EMPRESA</h5>
</div>
<div class="modal-body text-center">
    <form #formEmpresas="ngForm">
        <div class="row d-flex justify-content-center">
            <span [innerHTML]="mensagemErro"></span>
            <h5>Empresa</h5>
            <hr>
            <input type="text" name="empresa" maxlength="255" ngModel id="empresa" class="sg-input" required>
        </div>
        <div class="row mt-2">
            <div class="col">
                <h5>Projeto</h5>
                <hr>
                <div>
                     <select class="sg-select" name="cod_projeto" ngModel required>
                        <option *ngFor="let projeto of projetos" [value]="projeto.cod_projeto">{{ projeto.projeto }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col">
                <h5>CNPJ</h5>
                <hr>
                <input type="text" name="cnpj" maxlength="18" required ngModel class="sg-input"
                    mask="00.000.000/0000-00">
            </div>
        </div>
        <div class="row mt-2">
            <h5>Safegold gerencia essa empresa?</h5>
            <hr>
            <div class="d-flex justify-content-center">
                <select class="sg-select" name="safegold_ger" ngModel required>
                    <option value="1">SIM</option>
                    <option value="0">NÃO</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer justify-content-center align-items-center">
    <button *ngIf="!editMode" type="submit" class="btn btn-primary mx-2" (click)="SalvarForm(formEmpresas.value)"
        [disabled]="!formEmpresas.valid">Salvar</button>
    <button *ngIf="editMode" type="submit" class="btn btn-warning mx-2" (click)="SalvarForm(formEmpresas.value)"
        [disabled]="!formEmpresas.valid">Atualizar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
</div>