@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

h5 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: #686868;
}

hr {
    margin-bottom: 8px;
}

.modal-header {
    background-color: var(--sg-gray);
}

#modalLabel {
    color: var(--sg-yellow);
}

.sg-input {
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    width: 90%;
    transform: scaleX(1);
    border-bottom: 2px solid #EDA900;
    outline: none;
    margin-bottom: 10px;
    text-align: center; 
}

.sg-input[type=text]:focus,
.sg-input[type=text]:active {
    transform: scaleX(1);
    border-bottom: 2px solid #EDA900;
    outline: none;
}

.sg-input:read-only {
    background-color: #e6e6e6;
    border-bottom: 2px solid #EDA900;
}

.sg-input:disabled {
    color: #000000;
    font-size: 1rem;
}

.sg-select {
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    width: 90%;
    transform: scaleX(1);
    border-bottom: 2px solid #EDA900;
    outline: none;
    margin-bottom: 10px;
    text-align: center;
}

.sg-select option {
    font-size: 1rem;
    font-weight: 500;
}

.sg-select option:hover {
    color: #EDA900;
    font-size: 3rem;
}



input[type="radio"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #EDA900;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}
/* 
.sg-radio {
    font-size: 1.5rem;
    font-weight: 500;
    width: 90%;
    transform: scaleX(1);
    outline: none;
    margin-bottom: 10px;
} */