/* -------------------------------------------  MAIN  ------------------------------------------- */
#inserir-agenda {
    padding-top: 1.3rem;
    /* Header Principal dos dois cards */
    --cor-header: #eda900;
    --bg-header: #373935;
    /* Header dos cards de dias */
    --cor-card-header: #fff;
    --bg-card-header: #eda900;
}

.sg-add {
    /* Botões de adicionar dos cards de dias */
    --cor-card-footer: #eda900;
    --bg-card-footer: #fff;
    --hover-cor-card-footer: #fff;
    --hover-bg-card-footer: #eda900;
    border-bottom-left-radius: 5px;
}

.sg-save {
    /* Botões de salvar dos cards de dias */
    --cor-card-footer: #00ac00;
    --bg-card-footer: #fff;
    --hover-cor-card-footer: #fff;
    --hover-bg-card-footer: #00ac00;
}

.sg-remove {
    /* Botões de adicionar dos cards de dias */
    --cor-card-footer: #ff0000;
    --bg-card-footer: #fff;
    --hover-cor-card-footer: #fff;
    --hover-bg-card-footer: #ff0000;
    border-bottom-right-radius: 5px;
}

#btn-options {
    /* Botões de action */
    --cor-action-btn: #373935;
    --bg-action-btn: #edaa00cc;
    --hover-bg-action-btn: #373935;
    --hover-cor-action-btn: #fff;
}

#btn-logout {
    /* Botões de action */
    --cor-action-btn: #fff;
    --bg-action-btn: #ff0000;
    --hover-cor-action-btn: #ff0000;
    --hover-bg-action-btn: #ffd4d4;
}

#btn-dashboard {
    /* Botões de action */
    --cor-action-btn: #fff;
    --bg-action-btn: #006eff;
    --hover-cor-action-btn: #006eff;
    --hover-bg-action-btn: #c8e0ff;
}

/* -------------------------------------------   ID   ------------------------------------------- */
#sg-agenda-header {
    background-color: var(--bg-header);
    color: var(--cor-header);
}

#sg-dia-header {
    background-color: var(--bg-card-header);
    color: var(--cor-card-header);
}

#sg-menu {
    padding: .1rem 1rem .8rem 1rem;
}

#options {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.3rem;
    vertical-align: middle;
    /* margin-right: 1.3rem; */
}

/* -------------------------------------------  CLASS ------------------------------------------- */
.sg-button {
    background-color: var(--bg-action-btn);
    color: var(--cor-action-btn);
    font-weight: 600;
    margin: auto;
    padding: .3rem .5rem;
    border-radius: 8px;
    transition: 0.5s;
    border: none;
}

.sg-button:hover {
    background-color: var(--hover-bg-action-btn);
    color: var(--hover-cor-action-btn);
}

.sg-footer-button {
    background-color: var(--bg-card-footer);
    color: var(--cor-card-footer);
    border: 0;
    font-weight: 600;
    transition: 0.5s;
}

.sg-footer-button:hover {
    background-color: var(--hover-bg-card-footer);
    color: var(--hover-cor-card-footer);
}

.sg-card-body {
    flex-basis: 20%;
    max-width: 20%;
    box-sizing: border-box;
    padding: 1rem .5rem;
}

.card-deck {
    padding: .5rem 1rem 0 1rem;
}

.card-footer {
    padding: 0;
}

/* -------------------------------------------   TAG  ------------------------------------------- */
h2 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0;
}

h5 {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0;
}

/* -------------------------------------------  MEDIA ------------------------------------------- */
@media screen and (max-width:1363px) {
    #sg-agenda-header h2 {
        font-size: 1.2rem;
    }

    .sg-card-body {
        padding: 1rem .25rem;
    }
}

@media screen and (max-width:1229px) {
    #sg-agenda-header h2 {
        font-size: .84rem;
    }
}

@media screen and (max-width:991px) {
    .sg-card-body {
        flex-basis: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 1rem .5rem;
    }

    .card-body {
        padding: .3rem 1rem .7rem 1rem;
    }

    .sg-add-button {
        padding: .2rem 0;
    }

    .sg-button {
        margin: .3rem;
    }

    #sg-agenda-header {
        display: inline-flex;
        padding: auto;
        justify-content: center;
    }

    h5 {
        padding-left: 1rem;
    }

    #sg-agenda-header h2,
    h5 {
        font-weight: 700;
        font-size: 1rem;
        margin: 0;
    }
}