<div class="container-fluid mb-5" id="inserir-agenda">
    <div class="row mb-2">
        <div class="col">
            <div class="card shadow-lg">
                <div class="card-header text-center" id="sg-agenda-header">
                    <h2 class="text-center">Bem vindo {{username}}</h2>
                </div>
                <div class="row card-body text-center">
                    <div class="col">
                        <span id="options">VER AGENDA:</span>
                        <button type="button" class="sg-button col" id="btn-options">Essa semana</button>
                        <button type="button" class="sg-button col" id="btn-options">Semana passada</button>
                    </div>
                    <div class="col">
                        <span id="options">OPÇÕES:</span>
                        <button type="button" class="sg-button col" id="btn-options">Repetir agenda da última semana</button>
                        <button type="button" class="sg-button col" id="btn-options" (click)='verModalAgenda()'>Histórico da
                            Agenda</button>
                        <button type="button" (click)="logout()" class="sg-button logout" id="btn-logout">
                            <i class="fa-solid fa-right-from-bracket me-1"></i>
                            <span>Logout</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow-lg text-center">
                <div class="card-header" id="sg-agenda-header">
                    <h2 class="text-center">
                        Sua Agenda: {{ diaInicio.toLocaleDateString('pt-BR') | mask: 'd0/M0/0000' }}
                        - {{ diaFim.toLocaleDateString('pt-BR') | mask: 'd0/M0/0000' }}
                    </h2>
                </div>
                <div class="row text-center px-4">
                    <div class="col-lg-12 sg-card-body" *ngFor="let dia of diasSemana">
                        <div class="card">
                            <div class="card-header text-center" id="sg-dia-header">
                                <h2>{{dia.nome}}</h2>
                                <h5>{{dia.dia}}</h5>
                            </div>
                            <div class="card-deck">
                                <sg-compromisso-card *ngFor="let card of dia.cards"></sg-compromisso-card>
                            </div>
                            <div class="card-footer">
                                <button class="sg-footer-button sg-add col-6" (click)="adicionarProjeto(dia.index)">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                                <button class="sg-footer-button sg-remove col-6" (click)="removerProjeto(dia.index)">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>