<div class="container-fluid mb-5" id="inserir-agenda">
    <div class="row mb-2">
        <div class="col">
            <div class="card shadow-lg">
                <div class="card-header text-center" id="sg-agenda-header">
                    <h2 class="text-center">Bem vindo {{username}}</h2>
                </div>
                <div class="card-body" id="sg-menu">
                    <div class="row text-center">
                        <div class="sg-card-header">
                            <div id="options" class="col-12">VER AGENDA:</div>
                            <div class="col-12">
                                <button type="button" class="sg-button mx-1" id="btn-options">
                                    <i class="fa-solid fa-hourglass-start mx-1"></i>
                                    <span>Essa semana</span>
                                </button>
                                <button class="sg-button mx-1" id="btn-options">
                                    <i class="fa-solid fa-forward mx-1"></i>
                                    <span>Próxima semana</span>
                                </button>
                            </div>
                        </div>
                        <div class="sg-card-header">
                            <div id="options" class="col-12">OPÇÕES:</div>
                            <div class="col-12">
                                <button type="button" class="sg-button  mx-1" id="btn-options">
                                    <i class="fa-solid fa-repeat mx-1"></i>
                                    <span>Repetir agenda</span>
                                </button>
                                <button type="button" class="sg-button  mx-1" id="btn-options" routerLink="/agenda/historico">
                                    <i class="fa-solid fa-clock-rotate-left mx-1"></i>
                                    <span>Histórico da Agenda</span>
                                </button>
                            </div>
                        </div>
                        <div class="sg-card-header">
                            <div id="options" class="col-12">AÇÕES:</div>
                            <div class="col-12">
                                <button type="button" routerLink="/dashboard" class="sg-button mx-1" id="btn-dashboard"> <i class="fa-solid fa-home mx-1"></i> <span>Dashboard</span> </button>
                                <button type="button" (click)="logout()" class="sg-button mx-1" id="btn-logout"> <i class="fa-solid fa-right-from-bracket mx-1"></i> <span>Logout</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow-lg text-center">
                <div class="card-header" id="sg-agenda-header">
                    <h2 class="text-center">
                        Sua Agenda: {{ diaInicio.toLocaleDateString('pt-BR') | mask: 'd0/M0/0000' }}
                        - {{ diaFim.toLocaleDateString('pt-BR') | mask: 'd0/M0/0000' }}
                    </h2>
                </div>
                <div class="row px-4">
                    <div class="sg-card-body" *ngFor="let dia of diasSemana">
                        <div class="card">
                            <div class="card-header" id="sg-dia-header">
                                <h2>{{dia.nome}}</h2>
                                <h5>{{dia.dia}}</h5>
                            </div>
                            <div class="card-deck">
                                <sg-compromisso-card (adicionarCardEvent)="adicionarCard(dia.index)"
                                    (salvarCardEvent)="salvarCard(dia.index, i)"
                                    (excluirCardEvent)="excluirCard(dia.index, i)"
                                    *ngFor="let card of dia.cards; let i = index;">
                                </sg-compromisso-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>