/* -------------------------------------------  MAIN  ------------------------------------------- */
#inserir-agenda {
  --cor-header: #edaa00cc;
  --bg-header: #58524c;
  --cor-action-btn: #000000;
  --bg-action-btn: #edaa00a6;
}

.sg-add {
  /* Botões de adicionar dos cards de dias */
  --cor-card-footer: #58524c;
  --bg-card-footer: #58524c30;
  --hover-cor-card-footer: #fff;
  --hover-bg-card-footer: #58524c;
  border-bottom-left-radius: 5px;
}

.sg-save {
  /* Botões de salvar dos cards de dias */
  --cor-card-footer: #00ac00;
  --bg-card-footer: #00ac0030;
  --hover-cor-card-footer: #fff;
  --hover-bg-card-footer: #00ac00;
}

.sg-remove {
  /* Botões de remover dos cards de dias */
  --cor-card-footer: #ff0000;
  --bg-card-footer: #ff000030;
  --hover-cor-card-footer: #fff;
  --hover-bg-card-footer: #ff0000;
  border-bottom-right-radius: 5px;
}

/* -------------------------------------------   ID   ------------------------------------------- */
#modalLabel {
  color: var(--sg-yellow);
  padding: 0;
  margin-bottom: 0;
}

/* -------------------------------------------   TAG  ------------------------------------------- */
select {
  border: none;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  transform: scaleX(1);
  border-bottom: 2px solid #EDA900;
  outline: none;
  margin-bottom: 1rem;
}

select option {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

small {
  text-align: left;
  font-size: .85rem;
}

form {
  padding: .75rem 3rem;
}

/* -------------------------------------------  CLASS ------------------------------------------- */
.sg-date {
  margin-bottom: .625rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 2px solid var(--cor-header);
  outline: none;
}

.sg-footer-button {
  background-color: var(--bg-card-footer);
  color: var(--cor-card-footer);
  border: 0;
  margin: 0;
  font-size: 1.35rem;
  transition: 0.5s;
}

.sg-footer-button:hover {
  background-color: var(--hover-bg-card-footer);
  color: var(--hover-cor-card-footer);
}

.card-footer {
  padding: 0;
}

.card-deck {
  padding: .5rem 1rem 0 1rem;
  border-top: 1px solid #0000002d;
}

.modal-header {
  background-color: var(--sg-gray);
}

.modal-footer {
  padding: 0;
}

/* -------------------------------------------  MEDIA ------------------------------------------- */
@media screen and (max-width:1370px) {

  select,
  option {
    font-size: .9rem;
  }

}

@media screen and (width < 900px) {
  .sg-footer-button {
    padding: .3rem 0;
    font-size: 1rem;
  }

  form {
    padding: .4rem 2rem;
  }
}