*.pyc
.pyc
/__pycache__
back-end/accounts/__pycache__/urls.cpython-310.pyc
back-end/accounts/__pycache__/views.cpython-310.pyc
back-end/accounts/migrations/__pycache__/__init__.cpython-310.pyc
back-end/api/__pycache__/serializers.cpython-310.pyc
back-end/api/__pycache__/views.cpython-310.pyc
back-end/crud_app/__pycache__/admin.cpython-310.pyc
back-end/crud_app/__pycache__/models.cpython-310.pyc
back-end/crud_app/__pycache__/urls.cpython-310.pyc
back-end/crud_app/__pycache__/views.cpython-310.pyc
back-end/crud_app/migrations/__pycache__/0001_initial.cpython-310.pyc
back-end/crud_app/migrations/__pycache__/0002_alter_projetos_id_user.cpython-310.pyc
back-end/crud_app/migrations/__pycache__/0003_projetouser_delete_projeto_user_and_more.cpython-310.pyc
back-end/crud_app/migrations/__pycache__/__init__.cpython-310.pyc
back-end/crudfornecedor/__pycache__/settings.cpython-310.pyc
back-end/crudfornecedor/__pycache__/urls.cpython-310.pyc
back-end/crudfornecedor/__pycache__/wsgi.cpython-310.pyc
back-end/usuarios/migrations/__pycache__/0001_initial.cpython-310.pyc
back-end/usuarios/migrations/__pycache__/0002_delete_teste.cpython-310.pyc
back-end/usuarios/migrations/__pycache__/__init__.cpython-310.pyc
back-end/usuarios/migrations/__pycache__/__init__.cpython-310.pyc
back-end/usuarios/migrations/__pycache__/0002_delete_teste.cpython-310.pyc
back-end/usuarios/migrations/__pycache__/0001_initial.cpython-310.pyc
back-end/crudfornecedor/__pycache__/wsgi.cpython-310.pyc
back-end/crudfornecedor/__pycache__/urls.cpython-310.pyc
back-end/crudfornecedor/__pycache__/settings.cpython-310.pyc
back-end/crud_app/migrations/__pycache__/__init__.cpython-310.pyc
back-end/crud_app/migrations/__pycache__/0003_projetouser_delete_projeto_user_and_more.cpython-310.pyc
back-end/crud_app/migrations/__pycache__/0002_alter_projetos_id_user.cpython-310.pyc
back-end/crud_app/migrations/__pycache__/0001_initial.cpython-310.pyc
back-end/crud_app/__pycache__/views.cpython-310.pyc
back-end/crud_app/__pycache__/urls.cpython-310.pyc
back-end/crud_app/__pycache__/models.cpython-310.pyc
back-end/crud_app/__pycache__/admin.cpython-310.pyc
back-end/api/__pycache__/views.cpython-310.pyc
back-end/api/__pycache__/serializers.cpython-310.pyc
back-end/accounts/migrations/__pycache__/__init__.cpython-310.pyc
back-end/accounts/__pycache__/views.cpython-310.pyc
back-end/accounts/__pycache__/urls.cpython-310.pyc
