<div class="text-center container">
    <h1 class="error404">404</h1>
    <h1>Página Não Encontrada :(</h1>
    <p>
        A página selecionada não foi encontrada, talvez tenha sido alterada
        excluída ou nunca sequer existiu, talvez tenha escrito o endereço errado, 
        mas já que você está aqui vou deixar uns links interessantes
    </p>
    <div class="row my-4">
        <div class="col"><a href="/dashboard" class="notfound-btn software">Voltar ao Software</a></div>
        <div class="col"><a href="https://safegold.com.br/" class="notfound-btn safegold">Site Safegold</a></div>
        <div class="col"><a href="https://safegoldbi.com.br/" class="notfound-btn safegoldbi">Site Safegold BI</a></div>
    </div>
    <hr>
    <div class="row mt-5">
        <span style='font-size:20px;'>&#9749;Aproveitando, que tal sair um pouco do computador e tomar um bom café sem
            açúcar?</span>
        <p>E se tiver algum problema ou dúvida, entre em contato com administrador: suportebi@safegold.com.br</p>
    </div>
</div>