<div id="inserir-agenda">
  <div class="modal-header modal-lg d-flex justify-content-center">
    <h5 id="modalLabel">ALTERAR SENHA</h5>
  </div>
  <div class="modal-body text-center">
    <form #formProjeto="ngForm">
      <div class="row">
        <small class="text-muted ps-3">Digite sua senha atual</small>
        <input type="text" name="projeto" class="sg-input" placeholder="Insira o nome do projeto" [(ngModel)]="password">
      </div>
      <div class="row">
        <small class="text-muted ps-3">Digite sua nova senha</small>
        <input type="text" name="projeto" class="sg-input" placeholder="Insira o nome do projeto" [(ngModel)]="password">
      </div>
      <div class="row">
        <small class="text-muted ps-3">Confirme sua nova senha</small>
        <input type="text" name="projeto" class="sg-input" placeholder="Insira o nome do projeto" [(ngModel)]="password">
      </div>
    </form> 
  </div>
  <div class="modal-footer justify-content-center align-items-center">
    <button class="sg-footer-button sg-save col-6" (click)="salvar()">
      <i class="fa-solid fa-check"></i>
    </button>
    <button class="sg-footer-button sg-add col-6" (click)="this.activeModal.close()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</div>