
<tr>
    <td>12</td>
    <td>Contas a vista</td>
    <td class="text-center col-1">
        <a type="submit">
            <i class="fa-solid fa-pencil"></i>
        </a>
        <a type="submit">
            <i class="fa-solid fa-trash-can"></i>
        </a>
    </td>
</tr>
<!-- <div class="p-5">
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Descrição</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Contas a pagar</td>
                <td class="text-center col-1">
                    <a type="submit" class="me-3">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a type="submit">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>12</td>
                <td>Contas a vista</td>
                <td class="text-center col-1">
                    <a type="submit" class="me-3">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a type="submit">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="col" style="padding-left: 100px;">121</td>
                <td scope="col" style="padding-left: 100px;">Despesas Operacionais</td>
                <td class="text-center col-1">
                    <a type="submit" class="me-3">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a type="submit">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="col" style="padding-left: 100px;">122</td>
                <td scope="col-1" style="padding-left: 100px;">Despesas Operacionais</td>
                <td class="text-center col-1">
                    <a type="submit" class="me-3">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a type="submit">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>13</td>
                <td>Contas a vista</td>
                <td class="text-center col-1">
                    <a type="submit" class="me-3">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a type="submit">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="col" style="padding-left: 100px;">121</td>
                <td scope="col-1" style="padding-left: 100px;">Despesas Operacionais</td>
                <td class="text-center col-1">
                    <a type="submit" class="me-3">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a type="submit">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td scope="col" style="padding-left: 100px;">121</td>
                <td scope="col-1" style="padding-left: 100px;">Despesas Operacionais</td>
                <td class="text-center col-1">
                    <a type="submit" class="me-3">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a type="submit">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->
<!-- 
{ //grupo
    "cod_grupo_contas": 14,
    "desc_grupo_contas": "Contas a pagar",
    "permite_vinculo": "Sim",
    "sumario": 1
}
{ //subgrupo
    "cod_subgrupo_contas": 1401,
    "desc_subgrupo_contas": "Contas a pagar",
    "cod_grupo_contas": 14
}
{ //analitica
    "cod_conta_analitica": 31,
    "cod_empresa": 96,
    "empresa": "FLAUS",
    "desc_conta": "Despesas Operacionais",
    "cod_subgrupo_contas": 1401,
    "desc_subgrupo": "Contas a pagar"
}, 
-->