:root {
    --sg-yellow: #EDAA1E;
    --sg-gray: #414442;
    --black: #000;
    --white: #fff;
    --light-gray: #D1C8B5;
    --table-light-gray: #ececec;
    --background: #dddddd;
    --dark-gray: #5e5e5e;
    --erase: #ff0000;
    --erase-hover: #942121;
    --edit-hover: #0000bd;
    --expand: #ca8f0f;
    --expand-hover: #855d08;
    --shadow-container: #1f26875e;
    --border-container: #2222225e;
}

body{
    margin-bottom: 5em;
}

main{
    margin-left: 5em;
    margin-right: 5em;
}

.sg-container {
    box-shadow: 0 8px 32px 0 var(--shadow-container);
    border-radius: 10px;
    border: 1px solid var(--border-container);
    /*margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;*/
}

.sg-content {
    padding-left: 3%;
    padding-right: 3%;
}

.sg-dark{
    background-color: var(--sg-gray);
    color: var(--white);
}

.sg-footer-container {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--sg-yellow);
    padding: 0px 20px 0px 32px;
}

.sg-footer-container p {
    margin: 0;
    font-weight: 700;
    font-size: 25px;
}

.sg-button {
    background-color: var(--light-gray);
    font-weight: 600;
    color: var(--black);
    border: 1px solid var(--dark-gray);
    margin: 10px;
    padding: 5px 25px;
}

.fa-expand{
    color: var(--expand);
}

.fa-expand:hover{
    color: var(--expand-hover);
}

.fa-trash-can{
    color: var(--erase);
}

.fa-trash-can:hover {
    color: var(--erase-hover);
    cursor: pointer;
}

.fa-pen-to-square:hover{
    color: var(--edit-hover);
    cursor: pointer;
}

@media(max-width: 994px) {
    h1 {
        font-size: 30px;
    }
    #safegold{
        display: none;
    }
}

@media(max-width: 529px) {

    h1 {
        font-size: 17px;
    }

    .logo{
        height: 3px;
        width: auto;
    }

    .sg-footer-container p {
        font-size: 22px;
    }

    .sg-button {
        background-color: var(--light-gray);
        color: var(--black);
        border: 1px solid var(--dark-gray);
        margin: 5px;
        padding: 4px 20px;
    }

    .sair-btn{
        margin: 0px;
        justify-content: end;
        align-items: right;
    }
    #sg-navbar img{
        height: 5px;
    }

}

@media print {
    .sg-footer-container{
        display: none;
    }
    
    .sg-header-container h1 {
        font-size: 16px;
    }
    .table-dark {
        color: var(--black);
        border: 1px 0px 0px 0px;
    }

    .sg-action-buttons{
        display: none;
    }
    .sg-table-container {
        padding: 0px;
    }
    
    .ignore-on-print{
        display: none;
    }

    tbody {
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

    th,
    td {
        font-size: 11px;
    }
    tr{
        background: var(--white);
    }

    #sg-filter-table, li, a{
    display: none;
    }

    .btn{
        display: none;
    }
    .sg-container {
        box-shadow: none;
        border-radius: 10px;
        border: 0px;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
    }
    .sg-content {
        padding-left: 0%;
        padding-right: 0%;
    }
}
