<div class="container mt-5 pt-3">
  <div class=" card shadow-lg">
    <div class="row">
      <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="w-75">
          <h4 class="text-center">Faça o Login acessar o sistema</h4>
          <hr>
          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div>
              <label for="email" class="text-white">Usuário</label>
              <input type="text" class="sg-input" id="username" name="username" [(ngModel)]="username"
                placeholder="Email@exemplo.com" required>
            </div>
            <div>
              <label for="password" class="text-white">Senha</label>
              <input type="password" class="sg-input" id="password" name="password" [(ngModel)]="password"
                placeholder="Sua senha" required>
            </div>
            <div class="text-center mt-5">
              <button type="submit" class="sg-button my-2" [disabled]="!loginForm.valid">Login</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-6 sg-login-image-container">
        <img src="../../../assets/img/Safegold-Logo.svg" alt="Logo Safegold">
      </div>
    </div>
  </div>
</div>