.sg-background {
    background-color: #373935;
    margin: auto;
    padding-top: 10px;
}



.sg-login-form-container {
    width: max-content;
}

.sg-button {
    background: #EDA900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    padding: 7px 28px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}

.sg-button:hover {
    background: #414442;
}

.sg-button:disabled {
    background: #edaa0091;
}

#sg-senha {
    --width-input: 90%;
    margin-top: 1rem;
}

#sg-email {
    --width-input: 100%;
}

.sg-input {
    border: none;
    background-color: #fafafa;
    font-size: 1.2rem;
    font-weight: 500;
    width: var(--width-input);
    width: 100%;
    border-bottom: 2px solid #EDA900;
    outline: none;
    transition: 0.6s;
}

.sg-input[type=text]:focus,
.sg-input[type=text]:active {
    border-bottom: 2px solid #414442;
    outline: none;
}

.sg-input[type=password]:focus,
.sg-input[type=password]:active {
    border-bottom: 2px solid #414442;
    outline: none;
}


.sg-login-image-container img {
    width: 30rem;

}

.sg-login-image-container {
    padding: 9rem 6rem;
    /* background-color: #373935; */
    justify-content: center;
    align-items: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

@media screen and (max-width:991px) {
    .sg-login-image-container {
        border-top-left-radius: 6px;
        border-bottom-right-radius: 0px;
        margin-bottom: 1rem;
        padding: 1rem 0;
        align-items: center;
        /* width: 10rem; */
    }

    .sg-login-image-container img {
        width: 15rem;
    }

    .sg-input {
        font-size: 1.1rem;
    }

    .sg-margin {
        margin-top: 1.5rem;
    }

    #firstCol {
        order: 2;
        display: flex;
        padding: 0 0 2rem 0;
    }

    #secondCol {
        order: 1;
        display: flex;
    }

    input {
        margin-top: 1rem;
    }
}

@media screen and (max-width:500px) {
    .sg-login-image-container img {
        width: 9rem;
    }
}

.input-with-icon {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-with-icon input[type="password"] {
    padding-right: 30px;
    /* Ajuste o valor da padding-right para acomodar o tamanho do ícone */
}

.input-with-icon i {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 10px;
    /* Ajuste o valor da right para ajustar a posição do ícone */
    width: 20px;
    /* Ajuste o valor da largura para o tamanho do ícone */
    height: 20px;
    /* Ajuste o valor da altura para o tamanho do ícone */

    cursor: pointer;
}

/* -------------------------------------------  MAIN  ------------------------------------------- */
#sg-login {
    height: 100vh;
}


.sg-background {
    background-color: #373935;
}