<div class="sg-background" id="sg-login">
  <div class="container mt-5">
    <div class="card shadow-lg" id="">
      <div class="row px-2">
        <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center" id="firstCol">
          <div class="col px-4">
            <h4 class="text-center">Faça o Login acessar o sistema</h4>
            <hr>
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
              <div>
                <input type="text" class="sg-input" name="username" [(ngModel)]="username"
                  placeholder="Email@exemplo.com" required>
              </div>
              <div class="input-with-icon">
                <input type="password" class="sg-input" id="sg-senha" name="password" [(ngModel)]="password"
                  placeholder="Sua senha" required>
                  <i class="fa fa-eye" (click)="mostrarSenha()"></i>
              </div>
              <div class="text-center mt-5">
                <button type="submit" class="sg-button my-2" [disabled]="!loginForm.valid || isLoading">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
                  <span *ngIf="!isLoading">Login</span> 
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 col-md-12  d-flex align-items-center justify-content-center sg-login-image-container"
          id="secondCol">
          <img src="../../../assets/img/logo-yellow.svg" alt="Logo Safegold">
        </div>
      </div>
    </div>
  </div>
</div>