/* -------------------------------------------  MAIN  ------------------------------------------- */
#sg-login {
    height: 100vh;
}

/* -------------------------------------------  CLASS ------------------------------------------- */
.input-with-icon {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-with-icon input[type="password"] {
    padding-right: 30px;
    /* Ajuste o valor da padding-right para acomodar o tamanho do ícone */
}

.input-with-icon i {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    right: 0.625rem;
    /* Ajuste o valor da right para ajustar a posição do ícone */
    width: 1.25rem;
    /* Ajuste o valor da largura para o tamanho do ícone */
    height: 1.25rem;
    /* Ajuste o valor da altura para o tamanho do ícone */
    cursor: pointer;
}

.sg-background {
    background-color: var(--sg-blue);
    margin: auto;
    padding: .2rem 0;
}

.sg-button {
    background: var(--sg-yellow);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    padding: .5rem 1.75rem;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: var(--sg-white);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    width: 10rem;
    height: 2.5rem;
}

.sg-button:hover {
    background: var(--sg-blue);
}

.sg-button:disabled {
    background: var(--sg-yellow-dimmed);
}

.sg-login-form-container {
    width: max-content;
}

.sg-login-image-container img {
    width: 40rem;
}

.sg-login-image-container {
    justify-content: center;
    align-items: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sg-input {
    border: none;
    background-color: var(--sg-white);
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    border-bottom: 2px solid var(--sg-blue);
    outline: none;
    transition: 0.6s;
    margin-top: 1rem;
    padding: 0 1rem;
}

.sg-input[type=text]:focus,
.sg-input[type=text]:active {
    border-bottom: 2px solid var(--sg-yellow);
}

.sg-input[type=password]:focus,
.sg-input[type=password]:active {
    border-bottom: 2px solid var(--sg-yellow);
}

/* -------------------------------------------  MEDIA ------------------------------------------- */
@media screen and (max-width:991px) {
    .sg-login-image-container {
        border-top-left-radius: 6px;
        border-bottom-right-radius: 0px;
        margin-bottom: 1rem;
        padding: 1rem 0;
        align-items: center;
    }

    .sg-login-image-container img {
        width: 15rem;
    }

    .sg-input {
        font-size: 1.1rem;
    }

    .sg-margin {
        margin-top: 1.5rem;
    }

    #firstCol {
        order: 2;
        display: flex;
        padding: 0 0 2rem 0;
    }

    #secondCol {
        order: 1;
        display: flex;
    }

    input {
        margin-top: 1rem;
    }

}

@media screen and (max-width:500px) {
    .sg-login-image-container img {
        width: 9rem;
    }
    .sg-button{
      width: 7rem;
    }
}