<div class="container-fluid mb-5  pt-3">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Dashboard {{currentEmpresa}}</h2>
    </div>
    <div class="card-body">
      <div *ngIf="!isLoading" class="row d-flex justify-content-center">
        <div class="col">
          <div class="card-body pb-0">
            <h5 class="card-title">Vinculação Conta Analitica a Fornecedores</h5>
            <hr>
            <div>
              <p>Total de fornecedores: {{ totalFornecedores }}</p>
              <p>Fornecedores com vínculo: {{ fornecedoresComVinculo }}</p>
              <p>Fornecedores sem vínculo: {{ fornecedoresSemVinculo }}</p>
              <a href="financeiro/conta-fornecedor" class="card-link text-center">Visualizar vínculos</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-body pb-0">
            <h5 class="card-title">Agrupamento de Contas Analiticas Vinculadas a Fornecedores</h5>
            <hr>
            <div *ngFor="let item of ocorrenciasArray">
              <p>{{ item.descricao }}: {{ item.quantidade }}</p>
            </div>
            <a href="financeiro/conta-fornecedor" class="card-link text-center">Visualizar Contas</a>
          </div>
        </div>
        <hr class="mt-3">
      </div>
      <h5 *ngIf="!isLoading" class="card-title text-center">Grafico de Contas Analiticas Vinculadas a Fornecedores</h5>
      <div *ngIf="isLoading" class="card-body text-center text-dark">
        <button class="btn btn-lg btn-warning mt-5" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Carregando dados...
        </button>
      </div>
      <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="d-flex justify-content-center col-8">
          <canvas #barChart></canvas>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</div>