<div class="container-fluid" id="dashboard-financeiro">
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Bem vindo {{username}} </h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4 px-5 align-items-center">
              <div class="text-center sg-card-welcome">
                <h4>Conta-Fornecedor</h4>
                <p>Vínculo de contas analíticas a Fornecedores</p>
              </div>
            </div>
            <div class="col-4 px-5 align-items-center">
              <div class="text-center sg-card-welcome">
                <h4>Plano de Contas</h4>
                <p>Cadastro, Edição, Leitura e Exclusão de contas analíticas</p>
              </div>
            </div>
            <div class="col-4 px-5">
              <div class="text-center sg-card-welcome">
                <h4>Empresas</h4>
                <p>Cadastro, Edição, Leitura e Exclusão de empresas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Dashboard {{currentEmpresa}} </h2>
        </div>
        <div class="card-body row">
          <div *ngIf="isLoading" class="card-body text-center text-dark">
            <button class="btn btn-lg btn-warning mt-5" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Carregando dados...
            </button>
          </div>
          <div class="col-4">
            <div class="card-body pb-0" *ngIf="!isLoading">
              <h5 class="card-title text-center">Vinculação Conta a Fornecedores</h5>
              <hr>
              <div>
                <div id="sg-card-matriz">
                  <div class="row">
                    <div class="col-8" id="sg-dash-labels">Total de fornecedores:</div>
                    <div class="col-4" id="sg-dash-value">{{ totalFornecedores }}</div>
                  </div>
                  <div class="row">
                    <div class="col-8" id="sg-dash-labels">Fornecedores sem vínculo:</div>
                    <div class="col-4" id="sg-dash-value">{{ fornecedoresSemVinculo }}</div>
                  </div>
                  <div class="row">
                    <div class="col-8" id="sg-dash-labels">Fornecedores com vínculo:</div>
                    <div class="col-4" id="sg-dash-value">{{ fornecedoresComVinculo }}</div>
                  </div>
                </div>
                <div class="text-center">
                  <hr>
                  <button class="sg-button" id="btn-main" routerLink="/financeiro/conta-fornecedor">Visualizar
                    vínculos</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5 class="card-title text-center" *ngIf="!isLoading">Gráfico Conta Analitica a Fornecedores</h5>
              <hr *ngIf="!isLoading">
              <div class="chart-container text-center" id="sg-card-grafico">
                <canvas #barChart></canvas>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body pb-0" *ngIf="!isLoading">
              <h5 class="card-title text-center">Cinco contas com mais vínculos</h5>
              <hr>
              <div>
                <div id="sg-card-contas">
                  <div class="row" *ngFor="let item of ocorrenciasArray;  let i=index">
                    <div class="col-8" id="sg-dash-labels" *ngIf="i<5">{{ item.descricao }}:</div>
                    <div class="col-4" id="sg-dash-value" *ngIf="i<5">{{ item.quantidade }}</div>
                  </div>
                </div>
                <div class="text-center">
                  <hr>
                  <button class="sg-button" id="btn-main" routerLink="/financeiro/plano-de-contas">Visualizar
                    Contas</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>