#exportar {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.3rem;
    vertical-align: middle;
    margin-right: 1.3rem;
    padding-bottom: 10%;
}

#filterDate {
    margin: auto;
}

#filterDate input {
    margin: 0 .2rem;
    border: none;
    background-color: #ffffff11;
    font-size: 1rem;
    font-weight: 500;
    transform: scaleX(1);
    border-bottom: 2px solid #EDA900;
    outline: none;
}

/* -------------------------------------------  MAIN  ------------------------------------------- */
#historico-agenda {
    padding-top: .8rem;
    /* Header Principal dos dois cards */
    --cor-header: #eda900;
    --bg-header: #373935;
}

#btn-filter {
    /* Botões de action */
    --cor-action-btn: #373935;
    --bg-action-btn: #edaa00cc;
    --hover-bg-action-btn: #373935;
    --hover-cor-action-btn: #fff;
}

#btn-semana {
    /* Botões de action */
    --cor-action-btn: #373935;
    --bg-action-btn: #edaa00cc;
    --hover-bg-action-btn: #373935;
    --hover-cor-action-btn: #fff;
}

#btn-logout {
    /* Botões de action */
    --cor-action-btn: #fff;
    --bg-action-btn: #ff0000;
    --hover-cor-action-btn: #ff0000;
    --hover-bg-action-btn: #ffd4d4;
}

#btn-agenda {
    /* Botões de action */
    --cor-action-btn: #fff;
    --bg-action-btn: #006eff;
    --hover-cor-action-btn: #fff;
    --hover-bg-action-btn: #00357a;
}

/* -------------------------------------------   ID   ------------------------------------------- */
#sg-agenda-header {
    background-color: var(--bg-header);
    color: var(--cor-header);
}

#options {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.3rem;
    vertical-align: middle;
}

#sg-menu {
    padding: 0rem 1rem;
}

/* -------------------------------------------  CLASS ------------------------------------------- */
.sg-button {
    background-color: var(--bg-action-btn);
    color: var(--cor-action-btn);
    font-weight: 600;
    margin: .25rem;
    padding: .3rem .5rem;
    height: 2.7rem;
    border-radius: 8px;
    transition: 0.5s;
    border: none;
    width: 15rem;
}

.sg-button:hover {
    background-color: var(--hover-bg-action-btn);
    color: var(--hover-cor-action-btn);
}

.sg-filter-button {
    background-color: var(--bg-action-btn);
    color: var(--cor-action-btn);
    font-weight: 600;
    margin: .25rem;
    padding: .3rem .5rem;
    height: 2.7rem;
    border-radius: 8px;
    transition: 0.5s;
    border: none;
    /* width: 15rem; */
}

.sg-filter-button:hover {
    background-color: var(--hover-bg-action-btn);
    color: var(--hover-cor-action-btn);
}

.sg-card-header {
    flex-basis: 33%;
    max-width: 33%;
    box-sizing: border-box;
    padding: .3rem;
}

/* -------------------------------------------   TAG  ------------------------------------------- */
td {
    padding: .4rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0;
}

table {
    border-radius: 5px;
}

/* -------------------------------------------  MEDIA ------------------------------------------- */
@media screen and (max-width:1275px) {
    #sg-agenda-header h2 {
        font-size: 1.2rem;
    }

    .sg-card-body {
        flex-basis: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 1rem .5rem;
    }

    .sg-button {
        width: 10rem;
        font-size: .8rem;
        padding: .2rem;
        /* height: 3rem; */
    }
}