<div class="container-fluid mb-5" id="historico-agenda">
    <div class="row mb-2">
        <div class="col">
            <div class="card shadow-lg">
                <div class="card-header text-center" id="sg-agenda-header">
                    <h2 class="text-center">Bem vindo {{username}}</h2>
                </div>
                <div class="card-body" id="sg-menu">
                    <div class="row text-center">
                        <div class="sg-card-header">
                            <div id="options" class="col-12">VER:</div>
                            <div class="col-12">
                                <button type="button" class="sg-button col mx-1" id="btn-semana">
                                    <i class="fa-regular fa-calendar-days mx-1"></i>
                                    <span>Semana Atual</span>
                                </button>
                                <button type="button" class="sg-button col mx-1" id="btn-semana">
                                    <i class="fa-solid fa-backward mx-1"></i>
                                    <span>Semana Passada</span>
                                </button>
                            </div>
                        </div>
                        <div class="sg-card-header">
                            <div id="options" class="col-12">FILTRAR DATA:</div>
                            <div class="col-12" id="filterDate">
                                <input type="date" name="diaInicio" [(ngModel)]="diaInicio" [value]="diaInicio">
                                <input type="date" name="diaFim" [(ngModel)]="diaFim" [value]="diaFim">
                                <button type="button" class="sg-filter-button" id="btn-filter"
                                    (click)="filtrarPorData(diaInicio,diaFim)">
                                    <i class="fa-solid fa-filter mx-1"></i>
                                    <span>Filtrar</span>
                                </button>
                            </div>
                        </div>
                        <div class="sg-card-header">
                            <div id="options" class="col-12">AÇÕES:</div>
                            <div class="col-12">
                                <button type="button" id="btn-agenda" class="sg-button col mx-1" (click)="preencherAgenda()">
                                    <i class="fa-solid fa-pen mx-1"></i>
                                    <span>Preencher Agenda</span>
                                </button>
                                <button type="button" (click)="logout()" class="sg-button logout mx-1" id="btn-logout">
                                    <i class="fa-solid fa-right-from-bracket mx-1"></i>
                                    <span>Logout</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow-lg text-center">
                <div class="card-header" id="sg-agenda-header">
                    <h2 class="text-center">
                        Sua Agenda: {{diaInicio | date: 'dd/MM/yyyy'}} - {{diaFim | date: 'dd/MM/yyyy'}}
                    </h2>
                </div>
                <div class="card-body table-responsive-lg">
                    <div class="row sg-table">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Dia da Semana</th>
                                    <th>Unidade de Negócio</th>
                                    <th>Área</th>
                                    <th>Função</th>
                                    <th>Gestor</th>
                                    <th>Tipo</th>
                                    <th>Projeto</th>
                                    <th>Previsão Horas</th>
                                    <th>Atendimento</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ag of agenda">
                                    <td>{{ag.data}}</td>
                                    <td>{{ag.dia}}</td>
                                    <td>{{ag.unidade}}</td>
                                    <td>{{ag.area}}</td>
                                    <td>{{ag.funcao}}</td>
                                    <td>{{ag.gestor}}</td>
                                    <td>{{ag.tipo}}</td>
                                    <td>{{ag.projeto}}</td>
                                    <td>{{ag.horas}}</td>
                                    <td>{{ag.atendimento}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>