<div class="container-fluid mb-5" id="historico-agenda">
    <div class="row mb-2">
        <div class="col">
            <div class="card shadow-lg">
                <div class="card-header text-center" id="sg-agenda-header">
                    <h2 class="text-center">AGENDA - Bem vindo {{username}}</h2>
                </div>
                <div class="card-body" id="sg-menu">
                    <div class="row text-center">
                        <div class="sg-card-header">
                            <div id="options" class="col-12">VER SEMANA</div>
                            <div class="col-12">
                              <button type="button" class="sg-button col mx-1" id="btn-semana" (click)="verSemanaPassada()" [disabled]="semanaSelecionada == 'passada'">
                                <i class="fa-solid fa-backward mx-1"></i>
                                <span>Passada</span>
                              </button>
                              <button type="button" class="sg-button col mx-1" id="btn-semana" (click)="verSemanaAtual()" [disabled]="semanaSelecionada == 'atual'">
                                  <i class="fa-regular fa-calendar-days mx-1"></i>
                                  <span>Atual</span>
                              </button>
                              <button type="button" class="sg-button col mx-1" id="btn-semana" (click)="verProximaSemana()" [disabled]="semanaSelecionada == 'proxima'">
                                <i class="fa-solid fa-forward mx-1"></i>
                                <span>Próxima</span>
                              </button>
                            </div>
                        </div>
                        <div class="sg-card-header">
                            <div id="options" class="col-12">FILTRAR</div>
                            <div class="col-12" id="filterDate">
                                <input type="date" name="diaInicio" [(ngModel)]="diaInicio">
                                <input type="date" name="diaFim" [(ngModel)]="diaFim">
                                <select name="gestor" id="" [(ngModel)]="usuarioSelecionado">
                                  <option [value]="null">Todos</option>
                                  <option  *ngFor="let gestor of gestores" [value]="gestor.id">{{gestor.first_name}}</option>
                                </select>
                                <button type="button" class="sg-filter-button" id="btn-filter" (click)="filtrarDataGestor(diaInicio,diaFim)">
                                    <i class="fa-solid fa-filter mx-1"></i>
                                    <span>Filtrar</span>
                                </button>
                            </div>
                        </div>
                        <div class="sg-card-header">
                            <div id="options" class="col-12">AÇÕES</div>
                            <div class="col-12">
                                <button type="button" id="btn-preencher" class="sg-button col mx-1" (click)="preencherAgenda()">
                                    <i class="fa-solid fa-plus mx-1"></i>
                                    <span>Novo</span>
                                </button>
                                <button type="button" routerLink="/dashboard" class="sg-button mx-1" id="btn-dashboard"> 
                                    <i class="fa-solid fa-home mx-1"></i> 
                                    <span>Home</span> 
                                </button>
                                <button type="button" (click)="logout()" class="sg-button logout mx-1" id="btn-logout">
                                    <i class="fa-solid fa-right-from-bracket mx-1"></i>
                                    <span>Logout</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow-lg text-center">
                <div class="card-header" id="sg-agenda-header">
                    <h2 class="text-center">
                        Sua Agenda: {{diaInicio | date: 'dd/MM/yyyy'}} - {{diaFim | date: 'dd/MM/yyyy'}}
                    </h2>
                </div>
                <div class="card-body table-responsive-lg">
                    <div class="row sg-table">
                        <table class="table table-hover" *ngIf="agenda.length >= 1  && !isLoading">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Dia da Semana</th>
                                    <th>Unidade de Negócio</th>
                                    <th>Área</th>
                                    <th>Função</th>
                                    <th>Gestor</th>
                                    <th>Tipo</th>
                                    <th>Projeto</th>
                                    <th>Horas</th>
                                    <th>Atendimento</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ag of agenda; let even = even"  [ngStyle]="fazerTabelaListrada(even)" (click)="editarAgenda(ag)">
                                    <td>{{ag.data | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{ag.dia_semana}}</td>
                                    <td>{{ag.funcao_gestor.unidade_de_negocios}}</td>
                                    <td>{{ag.funcao_gestor.area}}</td>
                                    <td>{{ag.funcao_gestor.funcao}}</td>
                                    <td>{{ag.funcao_gestor.username}}</td>
                                    <td>{{ag.tipo}}</td>
                                    <td>{{ag.projeto != null ? ag.projeto : ag.tipo}}</td>
                                    <td>{{ag.horas}}</td>
                                    <td>{{ag.atendimento}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="isLoading" class="text-center text-dark">
                          <button class="btn btn-warning mt-2" type="button" disabled>
                              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                              Carregando dados...
                          </button>
                        </div>
                        <div *ngIf="!isLoading">
                          <div *ngIf="agenda.length < 1 && semanaSelecionada != 'atual'">
                              <h4><strong>Nenhum dado encontrado, deseja ver a semana atual?</strong></h4>
                              <button type="button" class="sg-button col mx-1" id="btn-semana" (click)="verSemanaAtual()" [disabled]="semanaSelecionada == 'atual'">
                                  <i class="fa-regular fa-calendar-days mx-1"></i>
                                  <span>Atual</span>
                              </button>
                          </div>
                          <div *ngIf="agenda.length < 1 && semanaSelecionada == 'atual'">
                              <h4><strong>Semana atual não possui dados!</strong></h4>
                              <h5><strong>Se o erro persistir entre em contato com o suporte: suportebi&#64;safegold.com.br</strong></h5>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>