<nav class="navbar navbar-expand-lg navbar-light sg-fixed-nav">
    <div>
        <span id="exportar">Ações:</span>
        <button type="button" class="sg-action-button" (click)="abrirFormProjeto()">Cadastrar</button>
        <button type="button" class="sg-action-button" (click)="editarTodos()">Editar Todos</button>
    </div>
    <img src="../../../assets/img/vrline.png" height="30px" width="2px">
    <div>
        <span id="exportar">Exportar:</span>
        <button class="mx-1 sg-button" (click)="salvarCSV()">CSV</button>
        <button class="sg-button" (click)="salvarPDF()">PDF</button>
    </div>
</nav>
<div class="container-fluid mb-5" style="padding-top: 60px;">
    <div class="row mb-3">
        <div class="col">
            <div class="card shadow-lg p-2 mx-2 mt-2">
                <h2 class="text-center">Aqui vai ficar o FILTRAR</h2>
                <form  class="form-inline row">
                    <div class="form-group col">
                        <label for="id_cod_projeto">ID Projeto</label>
                        <input type="text" id="projeto" name="cod_projeto" ngModel numerico required>
                    </div>
                    <div id="div_id_empresa" class="mb-1 col">
                        <label for="id_empresa">Empresa</label>
                        <input type="text" name="empresa" maxlength="255" ngModel id="id_empresa" required>
                    </div>
                    <div id="div_id_cnpj" class="mb-1 col">
                        <label for="id_cnpj">Cnpj</label>
                        <input type="text" name="cnpj" maxlength="14" ngModel id="id_cnpj" numerico required>
                    </div>
                    <div class="mb-1 col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="safegold_ger" value="1" ngModel
                                [checked]="safegoldGerencia == 1">
                            <label class="form-check-label" for="inlineRadio1">Sim</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="safegold_ger" value="0" ngModel
                                [checked]="safegoldGerencia == 0">
                            <label class="form-check-label" for="inlineRadio2">Não</label>
                        </div>
                    </div>
                    <div class="mb-1 col">
                        <!-- <button type="submit" class="btn btn-outline-primary col" (click)="adicionarEmpresa(formEmpresa.value)" [disabled]="!formEmpresa.form.valid">
                        <span  >Salvar</span>
                        <span *>submit</span>
                    </button> -->
                        <!-- <button type="submit" class="btn btn-secondary col" (click)="SalvarForm(formEmpresa.value)"
                            [disabled]="!formEmpresa.form.valid">Salvar
                        </button>  -->
                        <button type="submit" class="btn btn-secondary col" (click)="SalvarForm(formEmpresa.value)">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow-lg mx-2 p-4">
                <h2 *ngIf="projetos.length < 1 && !isLoading" class="text-center">Nenhuma empresa encontrada!</h2>
                <h2 *ngIf="projetos.length >= 1 && !isLoading" class="text-center">PROJETOS</h2>
                <table *ngIf="projetos.length >= 1 && !isLoading"
                    class="table table-striped table-Light table-bordered mb-3 table-responsive table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th class="col-1 text-center">ID</th>
                            <th class="col">Projeto</th>
                            <th class="col-1">Ativo</th>
                            <th class="col-1">Safegold</th>
                            <th class="col-2 text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let projeto of projetos">
                            <td class="text-center">{{ projeto.cod_projeto }}</td>
                            <td>{{ projeto.projeto }}</td>
                            <td>{{ projeto.ativo == 1 ? 'Sim' : 'Não' }}</td>
                            <td>{{ projeto.safegold_ger == 1 ? 'Sim' : 'Não' }}</td>
                            <td class="text-center">
                                <a type="submit" (click)="verModalProjeto(projeto)">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a type="submit" class="mx-4" (click)="abrirFormProjeto(projeto)">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <a type="submit" class="mx-1"(click)="atualizarProjeto(projeto.cod_projeto)">
                                    <i class="fa-solid fa-tree"></i><!--  NO FORM ANTIGO, APAGAR DEPOIS  -->
                                </a>
                                <a type="submit" (click)="deletarModalProjeto(projeto)">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="isLoading" class="text-center text-dark">
                    <button class="btn btn-warning mt-2" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Carregando dados...
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>