{% extends 'crud_app/base.html' %}

{% block content %}
    <h1 class="d-flex justify-content-center mt-3">Cadastro de Contas e Fornecedores</h1>
    </header>
    <main>
        <div class="sg-container mt-4">
            <form class="sg-content" action="index.html" method="post">
                <div class="input-group input-group-md mt-4">
                    <input type="text" name="id" class="form-control" aria-la bel="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Insira o ID" />
                </div>
                <div class="input-group input-group-md mt-4">
                    <input type="text" name="conta" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Insira a conta" />
                </div>
                <div class="input-group input-group-md mt-4 mb-4">
                    <input type="text" name="fornecedor" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Insira o fornecedor" />
                </div>
                <div class="col text-center">
                    <button type="submit" class="btn btn-warning btn-block mb-4">Adicionar</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}	