{% extends 'crud_app/base.html' %}
{% load static %}
{% load crispy_forms_tags%} 
{% block title %}<title>Tabela</title>{% endblock title %}
{% block content %}
<main>
    <div id="print-info" class="text-center"></div>
    <div class="container-fluid" style="margin-bottom:150px;">
        <div class="row">
            <div class="col sg-container mt-2 mx-3 ignore-on-print">
                <h3 class="text-center">Adicionar</h3>
                <form action="" class="sg-content" method="POST">
                    {% csrf_token %} 
                    
                    {{ form|crispy }}                
                    <!--======================================= APAGAR DEPOIS, SOMENTE PARA TESTES =======================================-->
                    <div class="input-group input-group-sm my-1 ml-3 mr-3">
                        <input type="text" name="id" class="form-control" aria-la bel="Large" placeholder="Adicionar ID" />
                    </div>
                    <div class="input-group input-group-sm my-1 ml-3 mr-3">
                        <input type="text" name="conta" class="form-control" aria-label="Large" placeholder="Adicionar conta" />
                    </div>
                    <div class="input-group input-group-sm my-1 ml-3 mr-3">
                        <input type="text" name="fornecedor" class="form-control" aria-label="Large" placeholder="Adicionar fornecedor" />
                    </div>
                    <!--======================================= APAGAR DEPOIS, SOMENTE PARA TESTES =======================================-->
                    <div class="col text-center mb-1 mt-1">
    
                        <hr>
                        <button type="submit" class="btn btn-warning btn-block">Adicionar</button>
                    </div>
                </form>
            </div>
            <div class="col sg-container mt-2 mx-3 ignore-on-print">
                <h3 class="text-center">Filtrar</h3>
                <form action="" class="sg-content" method="POST">
                    {% csrf_token %} 
                    
                    {{ form|crispy }}                
                    <!--======================================= APAGAR DEPOIS, SOMENTE PARA TESTES =======================================-->
                    <div class="input-group input-group-sm my-1 ml-3 mr-3">
                        <input type="text" name="id" class="form-control" aria-la bel="Large" placeholder="Filtrar por ID" />
                    </div>
                    <div class="input-group input-group-sm my-1 ml-3 mr-3">
                        <input type="text" name="conta" class="form-control" aria-label="Large" placeholder="Filtrar por conta" />
                    </div>
                    <div class="input-group input-group-sm my-1 ml-3 mr-3">
                        <input type="text" name="fornecedor" class="form-control" aria-label="Large" placeholder="Filtrar por fornecedor" />
                    </div>
                    <!--======================================= APAGAR DEPOIS, SOMENTE PARA TESTES =======================================-->
                    <div class="col text-center mb-1 mt-1">
    
                        <hr>
                        <button type="submit" class="btn btn-primary btn-block mb-2">Filtrar</button>
                    </div>
                </form>
            </div>
        </div>
    
        <div class="sg-container mt-3 mx-1 mb-5" style="margin-bottom: 1px">
            <div class="sg-content">
                <h3 class="text-center mt-1 ignore-on-print">Tabela</h3>
                <table class="table table-Light table-bordered table-striped mb-3 mt-2" id="fornecedor-table">
                    <thead class="table-dark">
                        <tr>
                            <th class="col text-center">ID</th>
                            <th class="col">Conta</th>
                            <th class="col">Fornecedor</th>
                            <th class="col text-center ignore-on-print excludeExport">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for conta in object_list %}
                        <tr>
                            <td class="text-center col-md-1">{{conta.id}}</td>
                            <td>{{conta.desc}}</td>
                            <td class="col-md-3">{{conta.fornecedor}}</td>
                            <td class="ignore-on-print excludeExport text-center col-md-2">
                                <a href="{% url 'crud_app:detail' pk=conta.pk %}" class="mx-3" title="Detalhar Conta"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a>
                                <a href="{% url 'crud_app:delete' pk=conta.pk %}" class="mx-3" title="Excluir Conta"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<footer class="footer fixed-bottom ignore-on-print">
    <div class="sg-footer-container">
        <p>Exportar dados:</p>
        <button type="button" class="btn btn-outline-dark sg-button" id="xlsxExport">Excel</button>
        <button type="button" class="btn btn-outline-dark sg-button" id="printExport">PDF</button>
    </div>
</footer>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/tabela.js' %}"></script>
    <script src="{% static 'js/table2excel.js'%}"></script>
    <script src="{% static 'js/exportExcel.js' %}"></script>
{% endblock scripts %}
