{% extends 'crud_app/base.html' %}
{% load static %}
{% block content %}
<header>
    <h1 class="d-flex justify-content-center mt-3">Tabela Fornecedor Conta</h1>
</header>
<main>
    <div class="sg-container mt-4">
        <div class="col text-center mt-3 mb-3">
            <a href="{% url 'crud_app:create' %}"><button type="submit" class="btn btn-warning btn-block">Adicionar</button></a>
        </div>
        <div class="sg-content">
            <table class="table table-Light table-bordered table-striped mb-4">
                <thead class="table-dark">
                    <tr>
                        <th class="col text-center">ID</th>
                        <th class="col">Conta</th>
                        <th class="col">Fornecedor</th>
                        <th class="col text-center sg-action-buttons excludeExport">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conta in object_list %}
                    <tr>
                        <td class="text-center">{{conta.id}}</td>
                        <td>{{conta.desc}}</td>
                        <td>{{conta.fornecedor}}</td>
                        <td class="sg-action-buttons excludeExport text-center">
                            <a href="#" class="m-2"><i class="fa-solid fa-pen-to-square">Editar</i></a>
                            <a href="#" class="m-2"><i class="fa-solid fa-trash-can">Excluir</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer class="footer fixed-bottom">
    <div class="sg-footer-container">
        <p>Exportar dados:</p>
        <button type="button" class="btn btn-outline-dark sg-button" id="xlsxExport">Excel</button>
        <button type="button" class="btn btn-outline-dark sg-button" id="printExport">Imprimir / PDF</button>
    </div>
</footer>
{% endblock %}