/* -------------------------------------------  MAIN  ------------------------------------------- */
#btn-excluir {
    /* Botões de action */
    --cor-action-btn: #fff;
    --bg-action-btn: #dc3545;
    --hover-bg-action-btn: #73000d;
    --hover-cor-action-btn: #fff;
}

#btn-fechar {
    /* Botões de action */
    --cor-action-btn: #162233;
    --bg-action-btn: #c1c1c1;
    --hover-bg-action-btn: #162233;
    --hover-cor-action-btn: #fff;
}

/* -------------------------------------------  CLASS ------------------------------------------- */
.sg-button {
    cursor: pointer;
    background-color: var(--bg-action-btn);
    color: var(--cor-action-btn);
    font-weight: 600;
    margin: 0.625rem;
    padding: .3rem 1.5rem;
    border-radius: 8px;
    transition: 0.5s;
    border: none;
}

.sg-button:hover {
    background-color: var(--hover-bg-action-btn);
    color: var(--hover-cor-action-btn);
}
