<div class="modal-header text-center modal-lg d-flex justify-content-center bg-danger">
    <h1 class="text-white">ATENÇÃO!</h1>
</div>
<div class="modal-body text-center mt-2 mb-2">
    <h3>Você tem certeza que deseja excluir o vínculo?</h3>
    <hr>
    <h5><strong>Empresa:</strong> {{ matriz.empresa }}</h5>
    <h5><strong>Conta:</strong> {{ matriz.desc_cod_conta_analitica }}</h5>
    <h5><strong>Fornecedor:</strong> {{ matriz.desc_fornecedor }}</h5>
    <hr>
    <h3>Essa ação é permanente e não poderá ser desfeita</h3>
</div>
<div class="modal-footer justify-content-center align-items-center">
    <button class="sg-button" id="btn-excluir" (click)="excluir(matriz)">Excluir Vínculo</button>
    <button class="sg-button" id="btn-fechar" (click)="activeModal.close()">Cancelar</button>
</div>