<nav class="navbar navbar-expand-lg navbar-light sg-fixed-nav justify-content-around no-print">
  <div>
    <span id="exportar">AÇÕES:</span>
    <!-- <button type="button" class="sg-action-button" (click)="abrirFormCadastro()">Cadastrar</button> -->
  </div>
  <div></div>
  <div>
    <span id="exportar">EXPORTAR:</span>
    <!-- <button class="mx-1 sg-button" (click)="salvarExcel(empresas)">EXCEL</button>
    <button class="sg-button" (click)="salvarPDF(empresas)">PDF</button> -->
  </div>
</nav>
<div class="container-fluid mb-5" style="padding-top: 60px;">
  <div class="row">
    <div class="col-9 mr-1">
      <div class="card shadow-lg mx-2">
        <div class="card-header">
          <!-- <h2 *ngIf="apontamentos.length = 0 && !isLoading" class="text-center">Nenhuma empresa encontrada!</h2>-->
          <h2 *ngIf="isLoading" class="text-center">Carregando Dados</h2> 
          <h2 *ngIf="apontamentos.length >= 1 && !isLoading" class="text-center">Tabela de Apontamento</h2> 
        </div>
        <div class="p-3">
          <table *ngIf="apontamentos.length >= 1 && !isLoading"
            class="table table-striped table-Light table-bordered mb-3 table-responsive table-hover" id="sg-tabela">
            <thead class="table-dark">
              <tr>
                <th class="col-1 text-center">ID</th>
                <th class="col text-center">Código</th>
                <th class="col text-center">Data</th>
                <th class="col text-center">Valor</th>
                <th class="col-2 text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let apontamento of apontamentos">
                <td class="text-center">{{ apontamento.id }}</td>
                <td class="text-center">{{ apontamento.story_id | uppercase }}</td>
                <td class="text-center">{{ apontamento.data_apto}}</td>
                <td class="text-center">{{ apontamento.vlr_apto }}</td>
                <td class="text-center">
                  <a type="submit" class="mx-2" (click)="atualizarApontamento(apontamento.id)">
                    <i class="fa-solid fa-pencil"></i>
                  </a>
                  <a type="submit" class="mx-2 " (click)="deletarApontamento(apontamento.id)">
                    <i class="fa-solid fa-trash-can"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="isLoading" class="text-center text-dark">
            <button class="btn btn-warning mt-2" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Carregando dados...
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-lg px-3">
        <h3 class="text-center pt-3">Cadastro</h3>
        <hr>
        <form #formApontamento="ngForm">
          <div class="mb-3">
            <label for="id-apontamento" class="form-label">Cod Apontamento</label>
            <input type="text" class="form-control" id="id-apontamento" name="story_id" maxlength="4" required ngModel
              #story_id="ngModel">
            <div *ngIf="story_id.errors && (story_id.dirty || story_id.touched)" class="alert alert-danger mt-1">
              <div [hidden]="!story_id.errors['required']"> Digite o Código do apontamento. </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="data-apontamento" class="form-label">Data Apontamento</label>
            <input type="date" class="form-control" id="data-apontamento" name="data_apto" required ngModel
              #data_apto="ngModel">
            <div *ngIf="data_apto.errors && (data_apto.dirty || data_apto.touched)" class="alert alert-danger mt-1">
              <div [hidden]="!data_apto.errors['required']"> Digite a data do apontamento. </div>
            </div>
          </div>
          <div class="mb-5">
            <label for="valor-apontamento" class="form-label">Valor Apontamento</label>
            <input type="number" class="form-control" id="valor-apontamento" name="vlr_apto" required ngModel
              #vlr_apto="ngModel">
            <div *ngIf="vlr_apto.errors && (vlr_apto.dirty || vlr_apto.touched)" class="alert alert-danger mt-1">
              <div [hidden]="!vlr_apto.errors['required']"> Digite o valor do apontamento. </div>
            </div>
          </div>
          <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-warning" (click)="SalvarForm(formApontamento.value)"
              [disabled]="!formApontamento.form.valid">Salvar</button>
            <button class="btn btn-secondary mx-4" (click)="clearForm()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>