<div class="modal-header modal-lg d-flex justify-content-center">
    <h5 *ngIf="!editMode" id="modalLabel">CADASTRAR VÍNCULO</h5>
    <h5 *ngIf="editMode" id="modalLabel">EDITAR VÍNCULO</h5>
</div>
<div class="modal-body text-center">
    <form #formContaFornecedor="ngForm" class="px-5">
        <div class="row mt-2">
            <span [innerHTML]="mensagemErro"></span>
            <div class="col-3">
                <label for="cod_conta_analitica" class="sg-label">Conta Analítica:</label>
            </div>
            <div class="col">
                <select class="sg-select" name="cod_conta_analitica" ngModel required>
                    <option *ngFor="let conta of analitica" [value]="conta.cod_conta_analitica">{{ conta.desc_conta }}
                    </option>
                </select>
            </div>
            <hr>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label for="cod_fornecedor" class="sg-label">Fornecedor:</label>
            </div>
            <div class="col">
                <select class="sg-select" name="cod_fornecedor" ngModel required>
                    <option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.cod_fornecedor">{{ fornecedor.fornecedor }}
                    </option>
                </select>
            </div>
            <hr>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <label for="cod_empresa" class="sg-label">Empresa:</label>
            </div>
            <div class="col">
                <select class="sg-select" name="cod_empresa" ngModel required>
                    <option *ngFor="let empresa of empresas" [value]="empresa.cod_empresa">{{ empresa.empresa }}
                    </option>
                </select>
            </div>
            <hr>
        </div>
    </form>
</div>
<div class="modal-footer justify-content-center align-items-center">
    <button *ngIf="!editMode" type="submit" class="btn btn-primary mx-2" (click)="SalvarForm(formContaFornecedor.value)"
        [disabled]="!formContaFornecedor.valid">Salvar</button>
    <button *ngIf="editMode" type="submit" class="btn btn-warning mx-2" (click)="SalvarForm(formContaFornecedor.value)"
        [disabled]="!formContaFornecedor.valid">Atualizar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
</div>