{% extends 'crud_app/index.html' %}

{% load static %}

{% block content %}
<ul>
    <h1> Seja Bem vindo, {{user.username}}</h1>
        <h1>Esses são seus projetos</h1>
</ul>
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            {% for obj in projetos %}
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                        <div class="receipe-content">
                        <a href="{% url 'crud_app:empresa-list' %}">
                            <h5>{{obj}}</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}



{% comment %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock styles %}


{% block body %}
<body  id="body-pd">
    <div>
        <header class="header" id="header">
            <div class="header_toggle"> <i class='fa-solid fa-bars' id="header-toggle"></i> </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
            <div> <a href="#" class="nav_logo"></i> <img src="{% static "img/Safegold.svg" %}" width="200" alt="Safegold" class="mx-1" id="safegold"></a>
                    <div class="nav_list"> 
                        <a href="#" class="nav_link active"><i class="fa-solid fa-table-columns"></i><span class="nav_name">Dashboard</span></a> 
                        <a href="#" class="nav_link"><i class="fa-solid fa-handshake"></i><span class="nav_name">Projeto</span></a> 
                        <a href="#" class="nav_link"><i class="fa-solid fa-lock"></i><span class="nav_name">Admin</span></a>
                    </div>
                </div><a href="{% url 'logout' %}" class="nav_link"><i class="fa-solid fa-right-from-bracket text-danger"></i><span class="nav_name text-white">Sair</span> </a>
            </nav>
        </div>

<ul>
    <h1> Seja Bem vindo, {{user.username}}</h1>
        <h1>Esses são seus projetos</h1>
</ul>
</body>
{% endblock body %}
{% block scripts %}
<script src="{% static 'js/sidebar.js' %}"></script>
{% endblock scripts %}
{% endcomment %}
