<div class="card-deck">
    <form #formAgenda="ngForm" class="px-4">
        <div class="row">
            <small class="form-text text-muted text-left">Tipo</small>
            <select name="TipoProjeto" id="tipoProj">
                <option *ngFor="let tipo of tipoAgenda" [value]="tipo" [selected]="tipo.includes('Projeto')">{{ tipo }}
                </option>
            </select>
        </div>
        <div class="row">
            <small class="form-text text-muted text-left">Projeto</small>
            <select [(ngModel)]="projetoSelecionado" name="projeto">
                <option value="" selected>Selecione Um Projeto</option>
                <option *ngFor="let projeto of projetos" [value]="projeto.cod_projeto">{{projeto.projeto}}</option>
            </select>
        </div>
        <div class="row">
            <small class="form-text text-muted text-left">Atendimento</small>
            <select [(ngModel)]="atendimentoSelecionado" name="atendimentoSelecionado">
                <option value='Remoto' selected>Remoto</option>
                <option value='Presencial'>Presencial</option>     
            </select>
        </div>
        <div class="row">
            <small class="form-text text-muted text-left">Horas</small>
            <select [(ngModel)]="horasSelecionado" name="horasSelecionado">
                <option value='{{hora}}' *ngFor="let hora of horas">{{hora}}</option>
            </select>
        </div>
    </form>
</div>
<div class="card-footer">
    <button class="sg-footer-button sg-add col-4" (click)="adicionar()">
        <i class="fa-solid fa-plus"></i>
    </button>
    <button class="sg-footer-button sg-save col-4" (click)="salvar()">
        <i class="fa-solid fa-check"></i>
    </button>
    <button class="sg-footer-button sg-remove col-4" (click)="excluir()">
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>