<div>
    <div *ngIf="currentUser" class="sg-sidebar" id="sidebar">
        <ul>
            <li class="sg-hover">
                <a routerLink="/dashboard" class="logo">
                    <img src="../assets/img/Safegold.svg" alt="Safegold">
                </a>
            </li>
            <hr class="my-1">
            <li class="sg-hover">
                <a class="sg-contexto">
                    <i class="fa-solid fa-layer-group align-middle"></i>
                    <span class="sg-nav-item">
                        <select id="projeto-select" class="sg-form" [(ngModel)]="selectedProjetos"
                            (ngModelChange)="onProjectChange()">
                            <option *ngFor="let projeto of projetosUnicos" [value]="projeto.cod_projeto">
                                {{projeto.projeto}}
                            </option>
                        </select>
                        <select id="empresa-select" class="sg-form" [(ngModel)]="selectedEmpresa"
                            (ngModelChange)="onEmpresaChanged($event)">
                            <option *ngFor="let empresa of empresas" [value]="empresa.cod_empresa">{{ empresa.empresa }}
                            </option>
                        </select>
                    </span>
                </a>
            </li>
            <hr class="my-1">
            <li class="sg-hover">
                <button routerLink="/dashboard" class="sg-anchor">
                    <i class="fa-solid fa-home"></i>
                    <span class="sg-nav-item">Home</span>
                </button>
            </li>
            <li class="sg-hover">
                <button routerLink="/financeiro/dashboard-financeiro" class="sg-anchor" [disabled]="currentRoute == '/financeiro/dashboard-financeiro'">
                    <i class="fa-solid fa-clipboard"></i>
                    <span class="sg-nav-item">Dashboard</span>
                </button>
            </li>
            <li class="sg-hover">
                <button routerLink="/financeiro/conta-fornecedor" class="sg-anchor" [disabled]="currentRoute == '/financeiro/conta-fornecedor'">
                    <i class="fa-solid fa-person-chalkboard"></i>
                    <span class="sg-nav-item">Conta-Fornecedor</span>
                </button>
            </li>
            <li class="sg-hover" >
                <button routerLink="/financeiro/plano-de-contas" class="sg-anchor" [disabled]="currentRoute == '/financeiro/plano-de-contas'">
                    <i class="fa-solid fa-list-ol"></i>
                    <span class="sg-nav-item">Plano de Contas</span>
                </button>
            </li>
            <li class="sg-hover">
                <button routerLink="/financeiro/empresas" class="sg-anchor" [disabled]="currentRoute == '/financeiro/empresas'">
                    <i class="fa-solid fa-handshake"></i>
                    <span class="sg-nav-item">Empresas</span>
                </button>
            </li>
            <li *ngIf="isSuperuser == true" class="sg-hover">
                <a href="{{adminURL}}/admin/" class="sg-anchor">
                    <i class="fa-solid fa-lock"></i>
                    <span class="sg-nav-item">Admin</span>
                </a>
            </li>
            <li class="sg-logout">
                <button (click)="logout()">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="sg-nav-item">Logout</span>
                </button>
            </li>
        </ul>
    </div>
    <div class="sg-content">
        <router-outlet></router-outlet>
    </div>
</div>