/* ====================================          VARÍAVEIS           ==================================== */
:root {
    --sg-yellow: #EDAA1E;
    --sg-gray: #414442;
    --sg-white: #E6E7E9;
    --black: #000;
    --white: #fff;
    --table-light-gray: #ececec;
    --background: #dddddd;
    --dark-gray: #5e5e5e;
    --erase: #ff0000;
    --erase-hover: #942121;
    --shadow-container: #1f26875e;
    --border-container: #2222225e;
}

/* ====================================    TAGS ORIGINAIS DO HTML    ==================================== */
body{
    margin-bottom: 3em;
}

main{
    margin-left: 5em;
    margin-right: 5em;
}

/* ====================================           CLASSES            ==================================== */
.sg-container {
    box-shadow: 0 8px 32px 0 var(--shadow-container);
    border-radius: 10px;
    border: 1px solid var(--border-container);
}

.sg-content {
    padding-left: 3%;
    padding-right: 3%;
}

.sg-dark{
    background-color: var(--sg-gray);
    color: var(--white);
}

.sg-button {
    background-color: var(--sg-yellow);
    color: var(--black);
    border: 1px solid var(--dark-gray);
    font-weight: 600;
    margin: 10px;
    padding: 5px 25px;
}

.print-info{
    visibility: hidden;
    display: none;
}
.modal-backdrop {
    z-index: 1040 !important;
}
.modal-content {
    margin: 2px auto;
    z-index: 1100 !important;
}
/* ====================================             ID               ==================================== */

/* ====================================         FONTAWESOME          ==================================== */
.fa-expand{
    color: var(--expand);
}

.fa-expand:hover{
    color: var(--expand-hover);
}

.fa-trash-can{
    color: var(--erase);
}

.fa-trash-can:hover {
    color: var(--erase-hover);
    cursor: pointer;
}

.fa-circle{
    font-size: 0.33em;
}

/* ====================================           @MEDIA             ==================================== */
@media(max-width: 600px) {

    body, main{
        margin: auto;
    }

    a {
        padding: 0px;
    }

    h1 {
        font-size: 17px;
    }

    img{
        width: auto;
    }

    .logo{
        height: 3px;
        width: auto;
    }

    .sg-footer-container p {
        font-size: 22px;
    }

    .sg-button {
        margin: 5px;
        padding: 4px 20px;
    }

    .sair-btn{
        margin: 0px;
        justify-content: end;
        align-items: right;
    }
}
@media(max-width: 1500){
    main{
        margin-left: 0;
        margin-right: 0;
    }
}

@media print {
    .print-info{
        visibility: visible;
        display: inline-block;
    }
    .table-dark {
        color: var(--black);
        border: 1px 0px 0px 0px;
    }

    .sg-table-container {
        padding: 0px;
    }
    
    .ignore-on-print{
        display: none;
    }

    tbody {
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

    th,
    td {
        font-size: 11px;
    }
    tr{
        background: var(--white);
    }

    #sg-filter-table, li, a{
    display: none;
    }

    .btn{
        display: none;
    }
    .sg-container {
        box-shadow: none;
        border-radius: 10px;
        border: 0px;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
    }
    .sg-content {
        padding-left: 0%;
        padding-right: 0%;
    }
}