/* You can add global styles to this file, and also import other style files */
:root {
  --sg-yellow: #EDA900;
  --sg-gray: #373935;
  --sg-white: #E6E7E9;
  --black: #000;
  --white: #fff;
  --table-light-gray: #ececec;
  --background: #f7f7f7;
  --dark-gray: #323232;
  --sidebar-primaria: #fff;
  --sidebar-hover: #eda900;
}

.fa-trash-can {
  color: #ff4242;
  transition: 0.3s;
}

.fa-trash-can:hover {
  color: #af0000;
}

.fa-eye {
  color: #3c9638;
  transition: 0.3s;
}

.fa-eye:hover {
  color: #1d461b;
}

.fa-pencil {
  color: #7e807d;
  transition: 0.3s;
}

.fa-pencil:hover {
  color: #000;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #353333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
