<div class="container">
  <div>
    <img src="../../../assets/img/Safegold-Logo.svg" alt="" class="header-image">
  </div>

  <hr>
  <h4 class="text-center">Bem vindo, {{firstName}}, {{user_cargo}} </h4>
  <h2 class="text-center mb-5">Escolha qual Aplicativo deseja acessar</h2>
  <div class="row d-flex justify-content-center">
    <a class="card financeiro col-1 mx-4" (click)="validacaoAcessoFin()">
      <div class="sg-card-header">
        <h1 class="card-span text-center">Financeiro</h1>
      </div>
      <div class="sg-card-body">
        <ul>
          <li  class="sg-anchor">
            <span class="sg-nav-item">Plano de Contas</span>
          </li>
          <li  class="sg-anchor">
            <span class="sg-nav-item">Vínculo de Contas e Fornecedores</span>
          </li>
          <li class="sg-anchor">
            <span class="sg-nav-item">Empresas</span>
          </li>
        </ul>
      </div>
    </a>
    <a class="card avaliacao col-1 mx-4" (click)="validacaoAcessoRH()">
      <div class="sg-card-header">
        <h1 class="card-span text-center">Avaliação de Desempenho</h1>
      </div>
      <div class="sg-card-body">
        <ul>
          <li class="sg-anchor">
            <span class="sg-nav-item">Autoavaliação de Gestores</span>
          </li>
          <li class="sg-anchor">
            <span class="sg-nav-item">Avaliação de Coordenadores</span>
          </li>
          <li class="sg-anchor">
            <span class="sg-nav-item">Competências</span>
          </li>
        </ul>
      </div>
    </a>
    <a *ngIf="user_acesso_av == 1" href="avaliacao" class="card avaliacao col-1 mx-4">
      <div class="sg-card-header">
        <h1 class="card-span text-center">NENHUM APLICATIVO ENCONTRADO, ENTRAR EM CONTATO COM O ADMIN</h1>
      </div>
    </a>
    <div>FAZER NGIF DEPOIS: NENHUM APLICATIVO ENCONTRADO, ENTRAR EM CONTATO COM O ADMIN</div>
  </div>
  <footer class="sg-content text-center mt-2 pt-2 pb-2 fixed-bottom">Em caso de problemas, entre em contato com o Administrador: failover@safegold.com.br</footer>
</div>
