<div class="container">
  <h3>Bem vindo, {{firstName}} </h3>
  <h3>Projeto</h3>
  <select class="form-control" [(ngModel)]="selectedProjetos" (ngModelChange)="onProjectChange()">
    <option *ngFor="let projeto of projetosUnicos" [value]="projeto.cod_projeto">{{projeto.projeto}}</option>
  </select>
  <h3>Empresas</h3>
  <select class="form-control" [(ngModel)]="selectedEmpresa" (ngModelChange)="onEmpresaChanged($event)">
    <option *ngFor="let empresa of empresas" [value]="empresa.cod_empresa">{{ empresa.empresa }}</option>
  </select>