/* -------------------------------------------  MAIN  ------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

#listar-empresa {
    height: 100vh;
    --read-input: #e6e6e6;
    --label: #686868;
}

#btn-salvar {
    /* Botões de action */
    --cor-action-btn: #373935;
    --bg-action-btn: #edaa00cc;
    --hover-bg-action-btn: #373935;
    --hover-cor-action-btn: #fff;
}

#btn-fechar {
    /* Botões de action */
    --cor-action-btn: #373935;
    --bg-action-btn: #c1c1c1;
    --hover-bg-action-btn: #373935;
    --hover-cor-action-btn: #fff;
}

/* -------------------------------------------   ID   ------------------------------------------- */
#modalLabel {
    color: var(--sg-yellow);
}

/* -------------------------------------------  CLASS ------------------------------------------- */
.modal-header {
    background-color: var(--sg-gray);
}

.sg-gerencia {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--label);
    margin-right: 0.625rem;
}

.sg-label {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--label);
    margin-right: 0.625rem;
}

.sg-input {
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    transform: scaleX(1);
    border-bottom: 2px solid var(--sg-yellow);
    outline: none;
    margin-bottom: 0.625rem;
    transition: 0.5s;
}

.sg-input[type=text]:focus,
.sg-input[type=text]:active {
    border-bottom: 2px solid var(--sg-gray);
}

.sg-input:read-only {
    background-color: var(--read-input);
    border-bottom: 2px solid var(--sg-yellow);
}

.sg-select {
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    transform: scaleX(1);
    border-bottom: 2px solid var(--sg-yellow);
    outline: none;
    margin-bottom: 0.625rem;
}

.sg-select option {
    font-size: 1.1rem;
    font-weight: 500;
}

.sg-button {
    cursor: pointer;
    background-color: var(--bg-action-btn);
    color: var(--cor-action-btn);
    font-weight: 600;
    margin: 0.625rem;
    padding: .3rem 1.5rem;
    border-radius: 8px;
    transition: 0.5s;
    border: none;
}

.sg-button:hover {
    background-color: var(--hover-bg-action-btn);
    color: var(--hover-cor-action-btn);
}