/* -------------------------------------------  MAIN  ------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

#listar-empresa {
    --background: #f8f7f7;
    --disabled-cor: #636363;
    height: 100vh;
}

#btn-options {
    /* Botões de action */
    --cor-action-btn: #162233;
    --bg-action-btn: #FFA516cc;
    --hover-bg-action-btn: #162233;
    --hover-cor-action-btn: #fff;
}

#btn-export {
    /* Botões de action */
    --cor-action-btn: #fff;
    --bg-action-btn: #0d4287;
    --hover-cor-action-btn: #fff;
    --hover-bg-action-btn: #00214c;
}

/* -------------------------------------------   ID   ------------------------------------------- */
#exportar {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.3rem;
    vertical-align: middle;
    margin-right: 1.3rem;
    padding-bottom: 10%;
}

/* -------------------------------------------  CLASS ------------------------------------------- */
.card-header {
    background-color: var(--sg-gray);
}

.input-with-icon {
    position: relative;
    display: inline-block;
}

.input-with-icon input[type="text"] {
    padding-right: 1.875rem;
    /* Ajuste o valor da padding-right para acomodar o tamanho do ícone */
}

.input-with-icon i {
    color: var(--sg-yellow);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.9rem;
    /* Ajuste o valor da right para ajustar a posição do ícone */
    width: 1.25rem;
    /* Ajuste o valor da largura para o tamanho do ícone */
    height: 1.25rem;
    /* Ajuste o valor da altura para o tamanho do ícone */
    cursor: default;
}

.sg-button {
    background-color: var(--bg-action-btn);
    color: var(--cor-action-btn);
    font-weight: 600;
    margin: 0.625rem;
    padding: .3rem 1.5rem;
    border-radius: 8px;
    transition: 0.5s;
    border: none;
}

.sg-button:hover {
    background-color: var(--hover-bg-action-btn);
    color: var(--hover-cor-action-btn);
}

.sg-button:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-cor);
    color: var(--sg-white);
}

.sg-container-tabela {
    padding-top: 3.5rem;
}

.sg-input {
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-bottom: 2px solid var(--sg-yellow);
    outline: none;
    background-color: var(--background);
    padding: 0 1rem;
}

.sg-input[type=text]:focus,
.sg-input[type=text]:active {
    transform: scaleX(1);
    border-bottom: 2px solid var(--sg-gray);
    outline: none;
}


.sg-fixed-nav {
    background-color: var(--background);
    padding: 0rem 1.25rem;
    position: fixed;
    z-index: 1;
    justify-content: space-around;
    display: inline-flex;
    width: 100% !important;
}

/* -------------------------------------------   TAG  ------------------------------------------- */
h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--sg-gray);
    color: var(--sg-yellow);
    margin: 0;
}